body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #fff;
}

body.modal-window--open {
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  body.mobile-menu--open {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  margin: 0;
  padding: 0;
}

p {
  display: block;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

button {
  display: block;
  cursor: pointer;
  border: transparent;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

label,
input,
textarea {
  display: block;
}

img,
svg {
  display: block;
}

.section {
  margin: 0 auto;
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section__title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .header-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.mobile-menu-open-btn {
  margin: 0;
  padding: 0;
  border: transparent;
  background-color: #fff;
  -webkit-transition: fill 550ms cubic-bezier(0.4, 0, 0.2, 3);
  transition: fill 550ms cubic-bezier(0.4, 0, 0.2, 3);
}

.mobile-menu-open-btn:hover .mobile-menu-open__icon, .mobile-menu-open-btn:focus .mobile-menu-open__icon {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .mobile-menu-open-btn {
    display: none;
  }
}

.mobile-menu-open__icon {
  -webkit-transition: fill 550ms cubic-bezier(0.4, 0, 0.2, 3);
  transition: fill 550ms cubic-bezier(0.4, 0, 0.2, 3);
}

.logo {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 16px 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo {
    padding: 26px 0;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    padding: 24px 0;
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--accented {
  color: #2196f3;
}

.navigation {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: block;
    margin-left: 88px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .navigation {
    margin-left: 93px;
  }
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__item:not(.navigation__item:last-child) {
  margin-right: 50px;
}

.navigation__link {
  position: relative;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 550ms cubic-bezier(0.4, 0, 0.2, 3);
  transition: color 550ms cubic-bezier(0.4, 0, 0.2, 3);
}

.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
}

.navigation__link--current {
  color: #2196f3;
}

.navigation__link--current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background-color: #2196f3;
  border-radius: 2px;
}

.header-contacts__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-contacts__list {
    display: block;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-contacts__item:first-child {
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .header-contacts__item:first-child {
    margin: 0 30px 0 0;
  }
}

.header-contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  fill: #757575;
  -webkit-transition: color 550ms cubic-bezier(0.4, 0, 0.2, 3), fill 550ms cubic-bezier(0.4, 0, 0.2, 3);
  transition: color 550ms cubic-bezier(0.4, 0, 0.2, 3), fill 550ms cubic-bezier(0.4, 0, 0.2, 3);
}

.header-contacts__link:hover, .header-contacts__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

@media screen and (min-width: 1200px) {
  .header-contacts__link {
    padding: 31px 0;
  }
}

.header-contacts__icon {
  margin-right: 8px;
}

.mobile-menu-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  pointer-events: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  -webkit-transition: opacity 550ms cubic-bezier(0.4, 0, 0.2, 3);
  transition: opacity 550ms cubic-bezier(0.4, 0, 0.2, 3);
}

.mobile-menu-backdrop.is-open {
  opacity: 1;
  pointer-events: initial;
  overflow: scroll;
}

@media screen and (min-width: 768px) {
  .mobile-menu-backdrop {
    display: none;
  }
}

.mobile-menu {
  position: relative;
  margin: 0;
  padding: 48px 15px;
  background-color: #fff;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .mobile-menu {
    margin: 0 auto;
    width: 480px;
  }
}

.mobile-menu-navigation__list {
  margin-bottom: 302px;
}

.mobile-menu-navigation__item:not(.mobile-menu-navigation__item:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-navigation__link {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 550ms cubic-bezier(0.4, 0, 0.2, 3);
  transition: color 550ms cubic-bezier(0.4, 0, 0.2, 3);
}

.mobile-menu-navigation__link:hover, .mobile-menu-navigation__link:focus {
  color: #2196f3;
}

.mobile-menu-navigation__link--current {
  color: #2196f3;
}

.mobile-menu-contacts__list {
  margin-bottom: 64px;
}

.mobile-menu-contacts__item:not(.mobile-menu-contacts__item:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-contacts__link-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: color 550ms cubic-bezier(0.4, 0, 0.2, 3);
  transition: color 550ms cubic-bezier(0.4, 0, 0.2, 3);
}

.mobile-menu-contacts__link-tel:hover, .mobile-menu-contacts__link-tel:focus {
  color: #2196f3;
}

.mobile-menu-contacts__link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: color 550ms cubic-bezier(0.4, 0, 0.2, 3);
  transition: color 550ms cubic-bezier(0.4, 0, 0.2, 3);
}

.mobile-menu-contacts__link-mail:hover, .mobile-menu-contacts__link-mail:focus {
  color: #2196f3;
}

.mobile-menu-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -9px;
}

.mobile-menu-social__item {
  position: relative;
  margin: 9px;
}

.mobile-menu-social__item:not(.mobile-menu-social__item:last-child)::after {
  content: '';
  position: absolute;
  top: 0;
  right: -10px;
  display: block;
  height: 22px;
  width: 1px;
  background-color: rgba(33, 33, 33, 0.2);
}

.mobile-menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: color 550ms cubic-bezier(0.4, 0, 0.2, 3);
  transition: color 550ms cubic-bezier(0.4, 0, 0.2, 3);
}

.mobile-menu-social__link:hover, .mobile-menu-social__link:focus {
  color: #2196f3;
}

.mobile-menu-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  margin: 0;
  padding: 0;
  border: transparent;
  background-color: #fff;
}

.mobile-menu-close-btn:hover .mobile-menu-close__icon, .mobile-menu-close-btn:focus .mobile-menu-close__icon {
  fill: #2196f3;
}

.mobile-menu-close__icon {
  -webkit-transition: fill 550ms cubic-bezier(0.4, 0, 0.2, 3);
  transition: fill 550ms cubic-bezier(0.4, 0, 0.2, 3);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -10px;
}

.social__item {
  margin: 10px;
}

.social__link {
  padding: 12px;
  border-radius: 50%;
  fill: #afb1b8;
  -webkit-transition: fill 550ms cubic-bezier(0.4, 0, 0.2, 3), background-color 550ms cubic-bezier(0.4, 0, 0.2, 3);
  transition: fill 550ms cubic-bezier(0.4, 0, 0.2, 3), background-color 550ms cubic-bezier(0.4, 0, 0.2, 3);
}

.social__link:hover, .social__link:focus {
  background-color: #2196f3;
  fill: #fff;
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.footer-address-container {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-address-container {
    margin: 0 70px 0 0;
  }
}

.footer-logo {
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
  color: #fff;
}

.footer-logo .logo--accented {
  padding: 0;
}

@media screen and (min-width: 1200px) {
  .footer-logo {
    text-align: left;
  }
}

.address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .address {
    text-align: left;
  }
}

.address__item:not(.address__item:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address__item:not(.address__item:last-child) {
    margin-bottom: 9px;
  }
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-social-container {
  margin-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-social-container {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social-container {
    margin: 0;
    text-align: left;
  }
}

.container__title {
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.footer-social__link {
  fill: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-form-container {
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form-container {
    width: 450px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form-container {
    margin: 0 0 0 auto;
    text-align: left;
    width: 570px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-form__input {
  margin-bottom: 20px;
  padding: 14px 0 14px 15px;
  min-width: 100%;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-form__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    margin: 0 12px 0 0;
    min-width: 0;
    width: 100%;
  }
}

.main-btn.footer-submit-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9px 28px;
}

.footer-submit-btn__icon {
  margin-left: 10px;
  fill: #fff;
}

.section-hero {
  padding: 118px 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../IMG/background/header_img@1x-bg-240.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../IMG/background/header_img@1x-bg-240.jpg);
  background-size: cover;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../IMG/background/header_img@2x-bg-723.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../IMG/background/header_img@2x-bg-723.jpg);
  }
}

@media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../IMG/background/header_img@3x-bg-1300.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../IMG/background/header_img@3x-bg-1300.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-hero {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../IMG/background/header_tablet_img@2x-bg-977.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../IMG/background/header_tablet_img@2x-bg-977.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../IMG/background/header_tablet_img@3x-bg-1849.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../IMG/background/header_tablet_img@3x-bg-1849.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 3dppx) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../IMG/background/header_tablet_img@4x-bg-2839.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../IMG/background/header_tablet_img@4x-bg-2839.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .section-hero {
    padding: 200px 0;
    max-width: 1600px;
    background-color: #c4c4c4;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../IMG/background/desctop@2x-bg-2300.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../IMG/background/desctop@2x-bg-2300.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../IMG/background/desctop@3x-bg-4200.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../IMG/background/desctop@3x-bg-4200.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (min-resolution: 3dppx) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../IMG/background/desctop@4x-bg-6600.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../IMG/background/desctop@4x-bg-6600.jpg);
  }
}

@media screen and (min-width: 452px) and (max-width: 479px) {
  .hero-container {
    padding: 0 30px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .hero-container {
    padding: 0 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-container {
    padding: 0 204px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-container {
    padding: 0 252px;
  }
}

.section-hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .section-hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.main-btn {
  margin: 0 auto;
  padding: 10px 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #fff;
  border: 1px solid transparent;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: background-color 550ms cubic-bezier(0.4, 0, 0.2, 3);
  transition: background-color 550ms cubic-bezier(0.4, 0, 0.2, 3);
}

.main-btn:hover, .main-btn:focus {
  background-color: #1369af;
}

@media screen and (min-width: 1200px) {
  .features {
    padding: 94px 0 47px 0;
  }
}

@media screen and (min-width: 768px) {
  .features-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -15px;
  }
}

.features__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features__item {
    margin: 15px;
    width: calc((768px - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((1200px - 8 * 15px) / 4);
  }
}

.features__thumb {
  margin-bottom: 30px;
  padding: 25px 0;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features__icon {
  margin: 0 auto;
}

.features__label {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .features__label {
    text-align: left;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.we-do {
  padding-top: 47px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .we-do {
    display: none;
  }
}

.we-do-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -15px;
}

.we-do__item {
  margin: 15px;
  width: calc((1200px - 6 * 15px) / 3);
}

.we-do__thumb {
  position: relative;
}

.we-do__text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 27px 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.42;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team-cards-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -15px;
  }
}

.team__card {
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team__card:not(.team__card:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__card {
    margin: 15px;
    width: calc((768px - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team__card {
    width: calc((1200px - 8 * 15px) / 4);
  }
}

.team__image {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__image {
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .team__image {
    height: 260px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}

.team__label {
  padding: 30px 0 24px 0;
}

@media screen and (min-width: 1200px) {
  .team__label {
    padding: 30px 0;
  }
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__job {
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.clients-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

@media screen and (min-width: 1200px) {
  .clients-set {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.clients__item {
  margin: 15px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90px;
  width: calc((100vw - 4 * 15px) / 2);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transition: border-color 550ms cubic-bezier(0.4, 0, 0.2, 3), fill 550ms cubic-bezier(0.4, 0, 0.2, 3);
  transition: border-color 550ms cubic-bezier(0.4, 0, 0.2, 3), fill 550ms cubic-bezier(0.4, 0, 0.2, 3);
}

.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients__link {
    width: calc((480px - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__link {
    width: calc((768px - 6 * 15px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__link {
    width: calc((1200px - 12 * 30px) / 6);
  }
}

.backdrop {
  opacity: 1;
  pointer-events: initial;
  overflow: scroll;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  padding: 93px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 550ms cubic-bezier(0.4, 0, 0.2, 3);
  transition: opacity 550ms cubic-bezier(0.4, 0, 0.2, 3);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .backdrop {
    padding: 208px 0;
  }
}

@media screen and (min-width: 1200px) {
  .backdrop {
    padding: 221px 0;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}

.backdrop.is-hidden.modal-window {
  opacity: 0;
}

.modal {
  position: relative;
  opacity: 1;
  padding: 40px 15px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 550ms cubic-bezier(0.4, 0, 0.2, 3);
  transition: opacity 550ms cubic-bezier(0.4, 0, 0.2, 3);
}

@media screen and (min-width: 480px) {
  .modal {
    margin: 0 auto;
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    padding: 40px;
    width: 528px;
    height: 581px;
  }
}

.modal-form__title {
  display: block;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .modal-form__title {
    line-height: 1.15;
  }
}

.modal-form__field {
  position: relative;
  margin-bottom: 10px;
}

.modal-form__field:hover.modal-form__icon {
  fill: #2196f3;
}

.modal-form__field:hover.modal-form__input {
  border-color: #2196f3;
}

.modal-form__label {
  margin-bottom: 4px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__input {
  min-width: 100%;
  padding: 10px 0 10px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 550ms cubic-bezier(0.4, 0, 0.2, 3);
  transition: border-color 550ms cubic-bezier(0.4, 0, 0.2, 3);
}

.modal-form__input:focus {
  border-color: #2196f3;
}

.modal-form__input:focus + .modal-form__icon {
  fill: #2196f3;
}

.modal-form__icon {
  position: absolute;
  top: 28px;
  left: 12px;
  -webkit-transition: fill 550ms cubic-bezier(0.4, 0, 0.2, 3);
  transition: fill 550ms cubic-bezier(0.4, 0, 0.2, 3);
}

.modal-form__textarea {
  resize: none;
  margin-bottom: 20px;
  padding: 12px 16px;
  height: 120px;
}

.modal-form__textarea::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea:-ms-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea::-ms-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

@media screen and (min-width: 1200px) {
  .modal-form__textarea::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .modal-form__textarea:-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .modal-form__textarea::-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .modal-form__textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
}

.agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.agreement__icon {
  border: 2px solid #212121;
  border-radius: 2px;
  background-color: #fff;
  fill: transparent;
  -webkit-transition: border-color 550ms cubic-bezier(0.4, 0, 0.2, 3), fill 550ms cubic-bezier(0.4, 0, 0.2, 3), background-color 550ms cubic-bezier(0.4, 0, 0.2, 3);
  transition: border-color 550ms cubic-bezier(0.4, 0, 0.2, 3), fill 550ms cubic-bezier(0.4, 0, 0.2, 3), background-color 550ms cubic-bezier(0.4, 0, 0.2, 3);
}

.agreement__checkbox:focus + .agreement__icon {
  outline: 1px solid #2196f3;
}

.agreement__checkbox:checked + .agreement__icon {
  fill: #fff;
  background-color: #2196f3;
  border-color: #2196f3;
}

.agreement__icon:hover, .agreement__icon:focus {
  fill: #2196f3;
}

.agreement__label {
  margin: 0 0 0 8px;
  padding: 0;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .agreement__label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.agreement__link {
  display: inline;
  text-decoration: underline;
  color: #2196f3;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 5px;
  -webkit-transition: fill 550ms cubic-bezier(0.4, 0, 0.2, 3);
  transition: fill 550ms cubic-bezier(0.4, 0, 0.2, 3);
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-color: transparent;
}

.close-btn:hover, .close-btn:focus {
  fill: #2196f3;
}

.filter-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -8px;
}

@media screen and (min-width: 768px) {
  .filter-set {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0 0 30px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filter-set {
    margin: 0 0 50px 0;
  }
}

.filter-set__item {
  margin: 8px;
}

@media screen and (min-width: 768px) {
  .filter-set__item {
    margin: 0;
  }
  .filter-set__item:not(.filter-set__item:first-child) {
    margin: 0 0 0 8px;
  }
}

.filter-btn {
  margin: 0;
  padding: 5px 22px;
  border: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  -webkit-transition: color 550ms cubic-bezier(0.4, 0, 0.2, 3), background-color 550ms cubic-bezier(0.4, 0, 0.2, 3), -webkit-box-shadow 550ms cubic-bezier(0.4, 0, 0.2, 3);
  transition: color 550ms cubic-bezier(0.4, 0, 0.2, 3), background-color 550ms cubic-bezier(0.4, 0, 0.2, 3), -webkit-box-shadow 550ms cubic-bezier(0.4, 0, 0.2, 3);
  transition: color 550ms cubic-bezier(0.4, 0, 0.2, 3), background-color 550ms cubic-bezier(0.4, 0, 0.2, 3), box-shadow 550ms cubic-bezier(0.4, 0, 0.2, 3);
  transition: color 550ms cubic-bezier(0.4, 0, 0.2, 3), background-color 550ms cubic-bezier(0.4, 0, 0.2, 3), box-shadow 550ms cubic-bezier(0.4, 0, 0.2, 3), -webkit-box-shadow 550ms cubic-bezier(0.4, 0, 0.2, 3);
}

.filter-btn:hover, .filter-btn:focus {
  color: #fff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.products-set {
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .products-set {
    margin: -15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .products-set {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.products__card:not(.products__card:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .products__card {
    margin: 15px;
    width: calc((768px - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .products__card {
    width: calc((1200px - 6 * 15px) / 3);
  }
}

.products__link {
  color: #212121;
  -webkit-transition: -webkit-box-shadow 550ms cubic-bezier(0.4, 0, 0.2, 3);
  transition: -webkit-box-shadow 550ms cubic-bezier(0.4, 0, 0.2, 3);
  transition: box-shadow 550ms cubic-bezier(0.4, 0, 0.2, 3);
  transition: box-shadow 550ms cubic-bezier(0.4, 0, 0.2, 3), -webkit-box-shadow 550ms cubic-bezier(0.4, 0, 0.2, 3);
}

.products__link:hover, .products__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.products__link:hover .products__overlay, .products__link:focus .products__overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.products__thumb {
  position: relative;
  overflow: hidden;
}

.products__image {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .products__image {
    height: 294px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.products__overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 12px;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  height: 100%;
  width: 100%;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: opacity 550ms cubic-bezier(0.4, 0, 0.2, 3), -webkit-transform 550ms cubic-bezier(0.4, 0, 0.2, 3);
  transition: opacity 550ms cubic-bezier(0.4, 0, 0.2, 3), -webkit-transform 550ms cubic-bezier(0.4, 0, 0.2, 3);
  transition: transform 550ms cubic-bezier(0.4, 0, 0.2, 3), opacity 550ms cubic-bezier(0.4, 0, 0.2, 3);
  transition: transform 550ms cubic-bezier(0.4, 0, 0.2, 3), opacity 550ms cubic-bezier(0.4, 0, 0.2, 3), -webkit-transform 550ms cubic-bezier(0.4, 0, 0.2, 3);
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .products__overlay {
    padding: 0 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__overlay {
    padding: 0 24px;
  }
}

@media screen and (min-width: 1200px) {
  .products__overlay {
    padding: 0 24px;
  }
}

.products__label {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__card:first-child .products__label {
    padding-bottom: 56px;
  }
}

.products__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.products__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
/*# sourceMappingURL=main.css.map */