.address-thumb {
  &:last-child {
    margin-bottom: 0;
  }
}
.address-thumb__list {
  font-family: $main-font;
  font-style: Regular;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0 0 9px 0;
  list-style: none;
}
.address__text {
  color: $second-text-color;
}
.address-thumb__location-text {
  color: $bg-color;
}
.address-thumb__icon {
  width: 14px;
  height: 14px;
  fill: $second-text-color;
}
.address-thumb {
  &__location-icon {
    fill: $bg-color;
  }
}
.address__text {
  &:focus,
  &:hover {
    color: $bg-color;
  }
}

.address-thumb__location-text {
  &:focus,
  &:hover {
    color: $second-text-color;
  }
}
