.section-hero {
  padding: 118px 0;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../../../IMG/background/header_img@1x-bg-240.jpg);
  background-size: cover;
  background-position: center;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../../IMG/background/header_img@2x-bg-723.jpg);
  }
  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../../IMG/background/header_img@3x-bg-1300.jpg);
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 768px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../../IMG/background/header_tablet_img@2x-bg-977.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../../../IMG/background/header_tablet_img@3x-bg-1849.jpg);
    }
    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../../../IMG/background/header_tablet_img@4x-bg-2839.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    padding: 200px 0;
    max-width: 1600px;
    background-color: $hero_bg_color;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../../IMG/background/desctop@2x-bg-2300.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../../../IMG/background/desctop@3x-bg-4200.jpg);
    }
    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../../../IMG/background/desctop@3x-bg-4200.jpg);
    }
  }
}

.hero-container {
  @media screen and (min-width: 452px) and (max-width: 479px) {
    padding: 0 30px;
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    padding: 0 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 0 204px;
  }
  @media screen and (min-width: 1200px) {
    padding: 0 252px;
  }
}

.section-hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: $white_color;
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
.main-btn {
  margin: 0 auto;
  padding: 10px 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $white_color;
  border: 1px solid transparent;
  background-color: $accent_color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color $cubic;
  &:hover,
  &:focus {
    background-color: $accent_color-hover;
  }
}
