.modal {
  position: relative;
  opacity: 1;
  padding: 40px 15px;
  background-color: $white_color;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: opacity $cubic;
  @media screen and (min-width: 480px) {
    margin: 0 auto;
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    padding: 40px;
    width: 528px;
    height: 581px;
  }
}
.modal-form__title {
  display: block;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  @media screen and (min-width: 768px) {
    line-height: 1.15;
  }
}
.modal-form__field {
  position: relative;
  margin-bottom: 10px;
  &:hover.modal-form__icon {
    fill: $accent_color;
  }
  &:hover.modal-form__input {
    border-color: $accent_color;
  }
}
.modal-form__label {
  margin-bottom: 4px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $second_color;
}
.modal-form__input {
  min-width: 100%;
  padding: 10px 0 10px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color $cubic;
  &:focus {
    border-color: $accent_color;
    & + .modal-form__icon {
      fill: $accent_color;
    }
  }
}
.modal-form__icon {
  position: absolute;
  top: 28px;
  left: 12px;
  transition: fill $cubic;
}
.modal-form__textarea {
  resize: none;
  margin-bottom: 20px;
  padding: 12px 16px;
  height: 120px;
  &::placeholder {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    @media screen and (min-width: 1200px) {
      font-size: 12px;
      line-height: 1.17;
    }
  }
}
.agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.agreement__icon {
  border: 2px solid $first_color;
  border-radius: 2px;
  background-color: $white_color;
  fill: transparent;
  transition: border-color $cubic, fill $cubic, background-color $cubic;
  .agreement__checkbox:focus + & {
    outline: 1px solid $accent_color;
  }
  .agreement__checkbox:checked + & {
    fill: $white_color;
    background-color: $accent_color;
    border-color: $accent_color;
  }
}
.agreement__icon {
  &:hover,
  &:focus {
    fill: $accent_color;
  }
}
.agreement__label {
  margin: 0 0 0 8px;
  padding: 0;
  letter-spacing: 0.03em;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}
.agreement__link {
  display: inline;
  text-decoration: underline;
  color: $accent_color;
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 5px;
  transition: fill $cubic;
  background-color: $white_color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-color: transparent;
  &:hover,
  &:focus {
    fill: $accent_color;
  }
}
