.client-section {
  display: block;
  /* background-color: rgba(255, 255, 255, 0.1); */
  /* height: 182px; */
}
.clients-section__titel {
  text-transform: uppercase;
  text-align: center;
  padding: 63px 0 50px 0;
}
.client-section__container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15;
}

.card-set {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: calc(-1 * var(--grid-margin)); */
  padding: 0 0 94px 0;
}
.card-set__item {
  display: block;
  margin: $grid-margin;
  /* width: calc(100% / 6 - (2 * var(--grid-margin))); */
  width: 170px;
  height: 90px;
  border-radius: 4px;
  border: 1px solid 175, 177, 184, 1;
}
.card-set__link {
  display: flex;
  height: 90px;
  margin: 0;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
}
.card-set__icon {
  /* width: 44px;
  height: 50px; */
  display: block;
}
.card-set__link {
  &:hover,
  &:focus {
    fill: $accent-color;
    border: 2px solid $accent-color;
  }
}
