.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
  margin-top: 0px;
  margin-left: 0px;
}
.logo__web {
  color: $accent-color;
}
.logo__header {
  color: #000;
}
.logo__footer {
  color: #fff;
}
