* {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.address {
  font-style: normal;
  padding: 20px 0 0 0;
}
:hover {
  transition: 550ms cubic-bezier(0.4, 0, 0.2, 3);
  // animation: pulsing 2s infinite;
}
:focus {
  transition: 550ms cubic-bezier(0.4, 0, 0.2, 3);
  // animation: pulsing 2s infinite;
}
body {
  font-style: $main-font;
  letter-spacing: 0.03em;
  height: 100%;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: 700;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
