$first_font: 'Roboto', sans-serif;
$secondary_font: 'Raleway', sans-serif;
$first_color: #2a2a2a2a;
$second_color: #757575;
$third_color: #afb1b8;
$forth_color: #f5f4fa;
$fifth_color: #2f303a;
$accent_color: #2196f3;
$accent_color-hover: #1369af;
$black_color: #000000;
$white_color: #ffffff;
$header_border_color: #ececec;
$products_label_border_color: #eeeeee;
$hero_bg_color: #c4c4c4;
// $cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$cubic: 550ms cubic-bezier(0.4, 0, 0.2, 3);
