.navigaion {
  height: inherit;
  margin: 24px 0 25px 93px;
}
.navigation__list {
  display: flex;
  height: inherit;
}
.navigation__item {
  height: inherit;
  display: flex;
  justify-content: center;
  margin-left: 50px;
  display: block;
}
.navigation__link {
  position: relative;
  color: $main-text-color;
  font-family: $main-font;
  font-style: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
/* .navigation-link::after, */
.navigation__link {
  &::after {
    content: '';

    position: absolute;
    left: 0;
    top: 43px;
    opacity: 0;
    height: 4px;
    width: 100%;
    background: $accent-color;
    border-radius: 2px;
  }
}

.navigation__link {
  &-current {
    &::after {
      /* position: absolute; */
      display: block;
      opacity: 1;
      color: $accent-color;
    }
  }
}
/* transform: translatey(750%); ====== опустить линию активной страницы ВАРИАНТ №2*/
.navigation__link {
  &::after {
    color: $accent-color;
  }
}
.navigation__link {
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
